torch==2.1.0+cu121
torchvision==0.16.0+cu121
torchaudio==2.1.0+cu121
--extra-index-url https://download.pytorch.org/whl/cu121
jupyter
jupyterlab
transformers
bitsandbytes
PyYAML
datasets
tiktoken
huggingface-hub
accelerate
peft
llama-index
langchain
openai
chromadb